body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("./img/topography.svg"), linear-gradient(110deg, #f93d66, #6d47d9);
    display: flex;
    justify-content: center;
    align-items: center;   
    font-family: sans-serif;
    background-color: #f1f1f1; 
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    justify-content: center;
    align-items: center;
}

.container .card {
    position: relative;
    border-radius: 5px;
}

.container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}

.container .card:nth-child(1) .icon {
    background: linear-gradient(135deg, #405de6, #405de6,  #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737,
    #fcaf45, #ffdc80);
    border-radius: 5px;
}


.container .card:nth-child(2) .icon {
    background: #6eadd4;
    border-radius: 5px;
}

.container .card:nth-child(3) .icon {
    background: red;
    border-radius: 5px;
}

.container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.container .card .front {
    width: 250px;
    height: 150px;
    transition: 0.5s;
    border-radius: 5px;
}

.container .card .front.front1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .front.front1{
    background: #ff0057;
    transform: translateY(0px);
    width: 200px;
    height: 100px;
    padding-left: 50px;
    opacity: 0;
}

.container .card .front.front1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover  .front.front1 .content{
    opacity: .8;
}

.container .card .front.front1 .content i{
    max-width: 100px;
}

.container .card .front.front2 {
    position: relative;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-50px);
}

.container .card:hover .front.front2{
    transform: translateY(0);
}

.container .card .front.front2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
}

.container .card .front.front2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
} 

.container a {
    text-decoration: none;
    color: #fff;
}

.container a:hover{
    border-bottom: 4px solid #e9cc26;
    transition: border .1s ease-out;
}

.container a:active{
    color: black;
}


@media (max-width: 768px){
    .container{
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}